.swiper {
    width: 100%;
    border-bottom:1px solid #ccc;
    padding:30px 0 50px;
    height: 600px;
}

.swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.description{
    width: 50%;
    padding:30px;
}

.description ul{
    padding-left: 30px;
}

.description ul li{
    font-weight: 100;
    line-height: 1.5;
    list-style: disc;
}

.description>div{
    margin-bottom: 20px;
}

.description>div>div{
    font-weight: 100;
    line-height: 1.5;
}

.description h3{
    font-size: 40px;
    padding-bottom: 20px;
}

.description h4{
    font-size: 30px;
    margin-bottom: 10px;
}

.slide__main__img{
    width: 50%;
    padding:20px;
}

.slide__main__img > img{
    width: 100%;
    border-radius: 20px;
}

.swiper-button-next, .swiper-button-prev{
    top:90%;
}


